<ng-container *ngIf="identity.currentUser$ | async as user else loading">
  <ng-container *ngIf="banner.config$ | async as config else loading">
    <ng-container *ngIf="theme.theme$ | async as currentTheme">
      <ng-container *ngIf="sidepanel.state$ | async as panelState">
        <div class="mat-typography mat-app-background app-frame"
             fxLayout="column"
             [ngClass]="currentTheme.name">
          <banner [label]="config.label"
                  [background]="config.background"
                  [color]="config.color"></banner>
          <mat-toolbar color="primary"
                       class="app-toolbar">
            <button mat-icon-button
                    (click)="sidepanel.toggleState()">
              <mat-icon>menu</mat-icon>
            </button>
            <span fxFlex>Authorization Demo</span>
            <button mat-icon-button
                    matTooltip="Profile Settings"
                    (click)="viewSettings(user)">
              <mat-icon>person</mat-icon>
            </button>
          </mat-toolbar>
          <section class="app-body"
                   fxFlex
                   fxFill
                   fxLayout="row"
                   fxLayoutAlign="start stretch">
            <sidepanel>
              <panel-link link="/config"
                          label="Configuration"
                          icon="settings"
                          [state]="panelState"></panel-link>
              <mat-divider></mat-divider>
              <panel-link link="/home"
                          label="Home"
                          icon="home"
                          [state]="panelState"></panel-link>
              <panel-link link="/executive"
                          label="Executive"
                          icon="business"
                          [state]="panelState"></panel-link>
              <panel-link link="/tech"
                          label="Tech"
                          icon="keyboard"
                          [state]="panelState"></panel-link>
              <panel-link link="/admin"
                          label="Admin"
                          icon="settings_applications"
                          [state]="panelState"></panel-link>
            </sidepanel>
            <div fxFlex
                 class="app-panel">
              <router-outlet></router-outlet>
            </div>
          </section>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
</ng-container>
<ng-template #loading>
  <mat-progress-bar mode="indeterminate"
                    color="accent"></mat-progress-bar>
</ng-template>
