<ng-template #loading>
  <mat-progress-bar mode="indeterminate"
                    color="accent"></mat-progress-bar>
</ng-template>
<ng-container *ngIf="dataSvc.categories$ | async as categories else loading">
  <mat-toolbar class="app-toolbar">
    <button mat-icon-button
            matTooltip="Add Category"
            (click)="addCategory()">
      <mat-icon>add_circle_outline</mat-icon>
    </button>
    <button mat-icon-button
            matTooltip="Category Bin"
            color="warn"
            (click)="openCategoryBin()">
      <mat-icon>delete_outline</mat-icon>
    </button>
  </mat-toolbar>
  <section fxLayout="column"
           fxLayoutAlign="start stretch"
           class="container">
    <searchbar label="Search"
               [minimum]="1"
               (search)="dataSvc.searchCategories($event)"
               (clear)="dataSvc.getCategories()"></searchbar>
  </section>
  <section *ngIf="categories.length > 0"
           fxLayout="row | wrap"
           fxLayoutAlign="start start"
           class="container">
    <category-card *ngFor="let c of categories"
                   [category]="c"
                   (edit)="editCategory($event)"
                   (delete)="deleteCategory($event)"></category-card>
  </section>
  <p class="mat-title"
     *ngIf="!(categories.length > 0)">No Categories Available</p>
</ng-container>
