<div class="mat-typography">
  <h2 mat-dialog-title>Table Category Recycle Bin</h2>
  <mat-dialog-content>
    <ng-template #loading>
      <mat-progress-bar mode="indeterminate"
                        color="accent"></mat-progress-bar>
    </ng-template>
    <ng-container *ngIf="dataSvc.categories$ | async as categories else loading">
      <section fxLayout="column"
               fxLayoutAlign="start stretch"
               class="container"
               *ngIf="categories.length > 0">
        <section class="background card elevated container"
                 fxLayout="row"
                 fxLayoutAlign="start center"
                 *ngFor="let c of categories">
          <p fxFlex
             class="mat-body-strong">{{c.label}}</p>
          <button mat-button
                  color="warn"
                  (click)="removeCategory(c)">Remove</button>
          <button mat-button
                  (click)="restoreCategory(c)">Restore</button>
        </section>
      </section>
      <p *ngIf="!(categories.length > 0)"
         class="mat-body-strong">Recycle Bin is Empty</p>
    </ng-container>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button
            mat-dialog-close>Close</button>
  </mat-dialog-actions>
</div>
