<section fxLayout="row"
         fxLayoutAlign="start start">
  <section fxLayout="column"
           fxLayoutAlign="start stretch">
    <mat-toolbar>Users</mat-toolbar>
    <searchbar label="Search Users"
               [minimum]="2"
               (search)="identity.searchUsers($event)"
               (clear)="identity.getUsers()"></searchbar>
    <ng-template #loadingUsers>
      <mat-progress-bar mode="indeterminate"
                        color="accent"></mat-progress-bar>
    </ng-template>
    <ng-container *ngIf="identity.users$ | async as users else loadingUsers">
      <section fxLayout="column"
               fxLayoutAlign="start stretch"
               class="container"
               *ngIf="users.length > 0">
        <user-select-card *ngFor="let u of users"
                          [user]="u"
                          [selected]="u.id === user?.id"
                          (action)="selectUser($event)"
                          (deselect)="deselectUser()"></user-select-card>
      </section>
      <p class="mat-body-strong"
         *ngIf="!(users.length > 0)">No Users Available</p>
    </ng-container>
  </section>
  <section fxLayout="column"
           fxLayoutAlign="start stretch"
           fxFlex>
    <mat-toolbar>Roles</mat-toolbar>
    <ng-template #loadingRoles>
      <mat-progress-bar mode="indeterminate"
                        color="accent"></mat-progress-bar>
    </ng-template>
    <ng-container *ngIf="user?.id">
      <ng-container *ngIf="role.roles$ | async as roles else loadingRoles">
        <ng-container *ngIf="role.userRoles$ | async as userRoles else loadingRoles">
          <p class="mat-title">{{user?.userName}}'s Roles</p>
          <role-selector [roles]="roles"
                         [userRoles]="userRoles"
                         [pending]="uploading"
                         (save)="saveUserRoles($event)"></role-selector>
        </ng-container>
      </ng-container>
    </ng-container>
    <p *ngIf="!(user?.id)"
       class="mat-body-strong">Select a User to Assign Roles</p>
  </section>
</section>
