.drop-container {
  border: dotted 1px #ccc;
  min-height: 50px;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drop-container.cdk-drop-list-dragging .drop-container:not(.drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drag-placeholder {
  background: #eee;
  border: dotted 1px #ccc;
  min-height: 50px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-preview {
  font-family: 'Roboto';
  background-color: rgba(247, 247, 247, .7);
}
